.idea
*.iml

#Backend
/backend/HELP.md
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/test/**/target/
/backend/!**/src/main/**/target/
/backend/mvnw
/backend/mvnw.cmd
/backend/.mvn
